*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 40vh;
    padding-bottom: 2rem;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
        color: black;
        float: left;   
        text-decoration: none;
}

#contenedorClima {
    
    background-color: white;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    border-radius: 5%;
    width: 90%; 
    max-width: 600px; 
    margin: 20px auto;
    padding: 1rem;
    text-align: center;
  
}

.cuadro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cuadro img {
    width: 40px;
    height: 40px;
}

.cuadro p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}


#buscador{
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-items: center;
}




body{

    background-image: url(Diseño\ sin\ título.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

